<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio - Will McMahan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
    
  <meta property="og:title" content="Will McMahan Portfolio" />
  <meta property="og:description" content="Hello! I am Will McMahan. I work as a Software Developer. I have a passion for full stack development and creating clean, easy to read coding solutions." />
  <meta property="og:image" content="https://www.will-mcmahan.com/assets/img/og-image.png" />
<!--   <meta property="og:image" content="https://personal-portfolio-node-redesign.willmcmahan.repl.co/assets/img/og-image.png" /> -->
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <%- include ('partials/header.ejs') %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <%- include ('partials/hero.ejs') %>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <%- include ('partials/about.ejs') %>
    <!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <%- include ('partials/facts.ejs') %>
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <%- include ('partials/skills.ejs') %>
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <%- include ('partials/resume.ejs') %>
    <!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <%- include ('partials/portfolio.ejs') %>
    <!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <%- include ('partials/services.ejs') %>
    <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <%- include ('partials/contact.ejs') %>
    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include ('partials/footer.ejs') %>
  <!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/projects-cards.js"></script>
  <script src="assets/js/github.js"></script>
  <script src="assets/js/emailService.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>